:root{
    --my-padding:0.4rem;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
    color: #ee792a;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero "
    "main main image image"
    "main main extra extra"
    "footer footer footer footer"

    ;
    
    height: 100vh;
    text-align: center;
    text-transform: uppercase;

}
.header {
    align-items: center;
    display: grid;
    background-color: aquamarine;
    grid-area: header;
    padding: var(--my-padding); 
}
.menu {
    align-items: center;
    display: grid;
    background-color: rgb(203, 238, 226);
    grid-area: menu;
    padding: var(--my-padding); 

}
.hero {
    align-items: center;
    display: grid;
    background-color: rgb(210, 219, 216);
    grid-area: hero;
    padding: var(--my-padding);   
}
.main {
    align-items: center;
    display: grid;
    background-color: rgb(189, 197, 174);
    grid-area: main;
    padding: var(--my-padding); 
}
.image {
    align-items: center;
    display: grid;
    background-color: rgb(238, 227, 203);
    grid-area: image;
    padding: var(--my-padding); 
}
.extra {
    align-items: center;
    display: grid;
    background-color: rgb(203, 217, 238);
    grid-area: extra;
    padding: var(--my-padding); 
}
footer {
    align-items: center;
    display: grid;
    background-color: rgb(203, 227, 238);
    grid-area: footer;
    padding: var(--my-padding); 
}

@media (max-width: 1024px) {
    .container{
        color: #ee792a;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 1.5fr 2fr 1fr 0.5fr;
        grid-template-areas: 
        "header header header "
        "hero hero hero "
        "menu main main "
        "menu footer footer "
        "menu extra image"
    
        ;
        
        height: 100vh;
        text-align: center;
        text-transform: uppercase;
    
    }  
}
@media (max-width: 767px){
    .container{
        color: #ee792a;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 2fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "header"
    "menu"
    "hero"
    "main"
    "footer"
    "extra"
    "image"
}
 }
